.foto {
    width: 300px;
    height: auto;
    margin-top: 55px;
    

}
.texto {
    color: white;
    margin-top: 70px;
    font-size: 20px;
    
}

.contenedor1 {
    width: 100%;
    }

.lugaresguatavita .lugaresguatavita1 {
    width: 50%;
    }

